/* Your CSS styles go here */

/* Your CSS styles go here */
h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    /* color: red;*/
    /*font-family: "Times New Roman", "Times", "serif";*/
}

h2 {
    color:green;
}

h3{
    color:yellow;
}


.kz{
    font-family: 'Indie Flower', cursive;
}
/*h1 {*/
/*    color: red;*/
/*    font-family: "Times New Roman", "Times", "serif";*/

/*}*/

@media(max-width: 500px){
	img{
		
	
	text-align:center;
	margin: auto;
	}
}
@media(max-width:700px){
	body{text-align: center;
	margin: auto;
	}
}
@media(max-width:700px){
	table{text-align:center;
	margin: auto;
	}
}

@media(max-width:700px){
	li{text-align:center;
	margin: auto;
	}
}
